:root {
    --primary-color: #ffb9b9;
    --white-color: #fff;
    --player-width: 400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}

.grid {
    max-width: var(--player-width);
    margin: 0 auto;
}


@media (max-width: 740px) {
    .grid {
        max-width: 100%;
    }
}