.player {
    background-color: #f9f9ff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    /* height: 100vh; */
    padding: 20px 0px;
}


.player__dashboard {
    text-align: center;
    position: fixed;
    width: var(--player-width);
}

.player__text {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.player__cd-thumb-wrap {
    --height: 250px;
    width: var(--height);
    height: var(--height);
    margin: 0 auto;
}

.player__cd-thumb {
    background-image: url('../img/betterTogether.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.player__cd-thumb::before {
    --size: 40px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--size);
    width: var(--size);
    background-color: var(--white-color);
    border-radius: var(--size);
    transform: translate(-50%,-50%);
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.player__name {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 5px;
}

.player__author {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
}

.player__proccess {
    --height: 15px;
    appearance: none;
    height: var(--height);
    width: 85%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--height);
    margin-top: 50px;
}
.player__proccess::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--primary-color);
    height: var(--height);
    width: 40px;
    border-radius: var(--height);
    cursor: pointer;
}
.player__control {
    margin-top: 30px;
}

.player__btn {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.player__btn + .player__btn {
    margin-left: 40px;
}

.player__btn--play {
    --height: 55px;
    background-color: var(--primary-color);
    border-radius: 100%;
    height: var(--height);
    width: var(--height);
    font-size: 3rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.player__btn--play .play {
    display: none;
}

.player.playing .player__btn--play .play{
    display: block;
}

.player.playing .player__btn--play .pause{
    display: none;
}

.player__playlist {
    list-style: none;
    padding: 20px 20px;
    margin-top: 100vh;
}

.song {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-top: 1px solid #e6e6e6;
}


.song__cd-thumb {
    --size: 50px;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background-image: url('/assets/img/betterTogether.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.song__info {
    flex: 1;
    margin: 0 15px;
}

.song__name {
    font-size: 1.7rem;
    font-weight: 600;
}

.song__author {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 5px;
    display: block;
}

.song__time {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 10px;
}

.song__ellipsis {
    font-size: 2rem;
    color: #414141;
    cursor: pointer;
}
